{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <div class="d-md-flex flex-md-equal justify-content-evenly w-100 my-md-3 ps-md-3">
    <div class="bg-dark pt-3 px-3 pt-md-5 px-md-5 rounded text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">이미지 해상도를 늘려보세요</h2>
        <div class="d-md-flex flex-md-equal justify-content-evenly w-80 mt-5">
          {% if origin %}
          <img src="data:image/png;base64,{{ origin }}" class="img-fluid" alt="Original"
            style="width: 250px; height: 250px;">
          <img src="data:image/jpeg;base64,{{ fake }}" class="img-fluid" alt="Super Resolution"
            style="width: 250px; height: 250px;">
          {% else %}
          <img src="{% static 'Original Image.jpg' %}" class="img-fluid" alt="Original"
            style="width: 250px; height: 250px;">
          <img src="{% static 'Super Resolution.jpg' %}" class="img-fluid" alt="Super Resolution"
            style="width: 250px; height: 250px;">
          {% endif %}
        </div>
      </div>
    </div>
    <div class="bg-light pt-3 px-3 pt-md-5 px-md-5 rounded text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5 mb-5">이미지를 선택하세요</h2>
        <form action="{% url 'upscaler' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="imageFile" class="form-control">
          <div class="m-5">
            <input type="submit" class="btn btn-dark rounded-pill px-5">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}